<ul class="links-list">
  <li>
    <a href="https://madvikingbeard.com/beardedempire" target="_blank">
      <img src="assets/img/mad-viking.png" alt="Mad Viking Logo" width="28px" height="28px" /> <span>MAD VIKING - 10% OFF</span>
    </a>
  </li>
  <li>
    <a href="https://beardedveteransclub.com?sca_ref=3255839.NUKJ5ScKZA" target="_blank">
      <img src="assets/img/bearded-veterans.png" alt="Bearded Veterans Club Logo" width="28px" height="28px" /> <span>BEARDED VETERANS CLUB - 15% OFF</span>
    </a>
  </li>
  <li>
    <a href="https://sldr.page.link/JCG8" target="_blank">
      <img src="assets/img/mad-rabbit.png" alt="Mad Rabbit Logo" width="28px" height="28px" /> <span>MAD RABBIT - 20% OFF</span>
    </a>
  </li>
  <li>
    <a href="https://baronialbeard.com/beardedempire" target="_blank">
      <img src="assets/img/baronial.png" alt="Baronial Beard Co. Logo" width="28px" height="28px" /> <span>BARONIAL BEARD CO. - 15% OFF</span>
    </a>
  </li>
  <li>
    <a href="https://livebearded.com/?rfsn=7126401.6518d8&utm_source=refersion&utm_medium=affiliate&utm_campaign=7126401.6518d8" target="_blank">
      <img src="assets/img/live-bearded.png" alt="Live Bearded Logo" width="28px" height="28px" /> <span>LIVE BEARDED - 10% OFF</span>
    </a>
  </li>
  <li>
    <a href="https://www.myartiusman.com/582.html" target="_blank">
      <img src="assets/img/artius-man.png" alt="Artius Man Logo" width="28px" height="28px" /> <span>ARTIUS MAN</span>
    </a>
  </li>
</ul>
